@media (min-width:700px){
    body{
        margin: 40px 50px;
    }
    .principal{
        align-items: center;
        margin: 0 auto;
        &__img{
            content: url(../assets/images/image-web-3-desktop.jpg);
            width: 100%;
            max-width: 700px;
            max-height: 300px;
        }
        &__parrafo{
            padding: 0 20px;
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    .list{
        
        &__container{
            &--img{
                place-self: center;
                
            }

        }
        
    }
    .news{
        max-width: 700px;
        margin: 0 auto;
    }
}